<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todolisttracker">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/Theme.TodoListTracker"
        android:allowBackup="true"
        android:label="TodoListTracker"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TodoListTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".IntroActivity"
            android:exported="true" />

        <activity
            android:name=".RegisterActivity" />

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TodoListTracker" />

        <activity android:name=".TaskDetailsActivity" />

        <receiver android:name=".ReminderBroadcast" android:exported="true" />
    </application>

</manifest>



